@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

body {

    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background-color: #333;
    padding: 10px 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-size: 14px;
}

.button-primary {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
    min-height: 80vh;
}

main h1 {
    font-size: 24px;
    color: #222;
}

.home-wrapper {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;

}

.bio-wrapper {
    max-width: 400px;
    margin: 20px auto;
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
}

footer {
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

footer p {
    color: white;
    font-size: 14px;
}

/* Contacto Page */

.form-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

form {
    margin: 2rem auto;
    padding: 1.5rem;
    border-radius: 10px;
    max-width: 700px;

}

label {
    display: block;
    font-weight: bold;
    padding: 0.5rem 0 0.2rem 0;
}

.input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

input,
textarea,
select,
datalist {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.3rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
    margin-right: 0.5rem;
}

button {
    margin-top: 1.5rem;
    padding: 0.7rem 1.2rem;
    font-size: 1rem;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    max-width: 700px;
    margin: 2rem auto;
    border-collapse: collapse;
    background-color: white;
}

th,
td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}